/**
 * default class
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
   font-family: "IBM Plex Sans", sans-serif;
   position: relative;
   font-size: 0.652vw;
}
:root {
    --bg-black: 0,0,0;
    --gray: 129,129,129;
    --bg-gray: 246, 248, 250;
    --bg1: #005750;
    --yellow:#FEE000;
    --blue:#007aff;
    --base-header:#F6EBDC;
    --base-price: #B44726;
    --base-heading-color:  var(--base-heading-color);
}
.txt-hover-red:hover{
    color: var(--red);
    translate: 1s;
}

/* ====== Common ====== */

.prev-icon {
    margin-right: 1em;
}
.next-icon {
    margin-left: 1em;
}

.header__title {
    font-size: 2.8em;
    color: var(--base-heading-color);
    letter-spacing: 1px;
    font-weight: 700;
    margin: 1em 0;
}


/* ====== Container ====== */
.container {
    width: 95vw;
    margin: 0 auto;
    padding: 2vw 0;
}



/* ====== Typography ====== */
.heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.text {
  font-size: 1em;
  color: #555;
}

.text--center {
  text-align: center;
}

.text--uppercase {
  text-transform: uppercase;
}

/* ====== Card ====== */
.card {
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__item {
  margin-bottom: 2em;
}

.card__body {
  padding: 1.6em 0;
}

.card__title {
  font-size: 2em;
  margin: 0.8em 0;
}

.card__text {
  font-size: 1.6em;
}



.product__container {
    width: 80%;
    margin: 0 auto;
    padding: 2vw 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5vw;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card__body {
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.product-card__title {
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 0.5vw;
}

.product-card__price {
    font-size: 0.9vw;
    color: #007bff;
    font-weight: 500;
}

/* ====== Buttons ====== */
.button {
    display: inline-block;
    padding: 0.75em 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #F6EBDC;
    border: 1px solid #A1A1A1;
    border-radius: 2.5px;
    font-size: 1.6em;
    color: #000000;
    letter-spacing: 0;
    font-weight: 400;
}

.button:hover {
  background-color: #0056b3;
}

.button--secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 3em;
    padding: 0.75em 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #ffffff;
    border: 0.1em solid #A1A1A1;
    border-radius: 2.5em;
    font-size: 1.6em;
    color: #000000;
    letter-spacing: 0;
    font-weight: 400;
    
}

.button--small {
  padding: 0.5em 1em;
  font-size: 0.875em;
}

/* ====== Responsive Image ====== */

.cover-img {
  width: 100%;
  object-fit: cover;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/* ====== Spacing Utilities ====== */
.mt-1 { margin-top: 0.5em; }
.mt-2 { margin-top: 1em; }
.mt-3 { margin-top: 1.5em; }

.mb-1 { margin-bottom: 0.5em; }
.mb-2 { margin-bottom: 1em; }
.mb-3 { margin-bottom: 1.5em; }

/* ====== accordion menu ====== */

.accordion {
  width: 100%;
  margin: 0 0 2em;
}





/* ====== Mobile menu ====== */
.m-show{
    display: none;
}



 /* ====== header ====== */
 .main {
    width: 100vw;
 }
.header {
    width: 100vw;
    height: 15em;
    background-color: var(--base-header);
    
}

.header-container {
    margin: 0 auto;
    width: 95vw;
    position: relative;
    display: flex;
    height: 100%;   
    flex-flow: column;
 }
 .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
 }

.header-top-left {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.header-top-right {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.header-top-right__items {
    display: flex;
    align-items: center;
}
.header-top-righ_item {
    display: flex;
    align-items: center;
    margin-left: 2em;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
}
.header-top-righ_item.global
{
    border-left: 0.1em solid;
}
.header-top-righ_icon {
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
}
.global .header-top-righ_icon{
     margin-left: 1em;
}

.header-top-right .navbar-search{
    display: flex;
}
.header-top-left__logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-left__logo img{
    max-width: 15.5em;
}



.navbar{
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-search, .m-menubar{
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    padding: 0.4em;
    cursor: pointer;
}

.navbar-search__icon, .m-menubar__icon{
    width: 100%;
    height: 100%;
}

.menus{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.menus__item{
    height: 100%;
}

.menus__item.active .menus__item__link{
    text-decoration: underline;
}
.menus__item__link {
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.menus__item__link:hover {
    text-decoration: underline;
}
.menus-sub{
    position: relative;
}
.menus-sub__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}
.menus-sub__icon{
    font-size: 1.4em;
    line-height: 1;
}

.menus-sub:hover .menus-sub__wrapper {
    top:100%;
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -30px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}

.menus-sub__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    width: 22vw;
    font-size: 0.652vw;
    padding: 1.5em;
    background-color: var(--white);    
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    -webkit-box-shadow: -2px 0px 12px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 0px 12px 1px rgba(0,0,0,0.2);
    box-shadow: -2px 0px 12px 1px rgba(0,0,0,0.2);
}

.menus-sub__item{
    font-size: 1.3em;
    font-weight: 300;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.7em;
    padding-right: 0.5em;
    border-radius: 2em;
    transition: 0.5s;
}

.menus-sub__item:hover{    
    font-weight: 400;
    padding-left: 0.9em;
}

.menus-sub--yellow:hover{
    background: linear-gradient(269.45deg, rgba(255, 229, 15, 0.11) -10.77%, #FFE400 77.84%);
}


.menu-category {
    width: 100vw;
    position: absolute;
    z-index: 10;
    left: 0;
    background: var(--white);
    left: -2.5vw;
    display: block;
    height: calc(100vh - 15em);
    overflow: hidden;
   
}

.menu-category-header {
    margin: 0 auto;
    width: 95vw;
    
}

.menu-category-header__items {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1.6em;
    font-size: 1.6em;

}



.menu-category-content {
    margin: 0 auto;
    width: 95vw;
    position: relative;
    display: flex;
    height: 100%;   
    justify-content: space-between;
}




.menu-category__img {
    border-radius: 50%;
    width: 4.4em;
    height: 4.4em;
    object-fit: contain;
    margin-right: 1em;
}



.menu-category__item {
    position: relative;
    width: 100%;
    height: 100%;

}
.menu-category__title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
}

.menu-category__item .card {
    height: 100%;
    overflow: hidden;
    scrollbar-width: thin;
    overflow: auto;
    scrollbar-color: transparent transparent;
}




.menu-category__item .card:hover{
    scrollbar-color: var(--bg-gray);
}

.accordion-menu {
    margin-left: 4em;
    height: 0;
    
}

.accordion ul{
    margin-left: 4em;
    transition: all .5s ease-in-out;
    height: 0;
    overflow: hidden;
}
.accordion.active ul{
    transition: all .5s ease-in-out;
}


.accordion li {
    padding: 0.5em 0.7em;
    font-size: 1.6em;
}


.accordion .accordion-item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 1em);
}
.accordion_icon {
    width: 2em;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    position: absolute;
    right: 0;
}
.accordion.active .accordion_icon {
    transform: rotate(180deg);
}




.footer {
    background: #f4f4f4;
    width: 100vw;
    overflow: hidden;
}

.footer__container {
    width: 80%;
    margin: auto;
    padding: 6em 0 3em;
    
}

.footer__container p{
    font-size: 1.5em;
}

.footer__container .footer__title {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;

}



.footer-lst li {
    padding: .8em 0;
}

.footer-lst li a {
    font-size: 1.5em;
    color: var(--bg-black);
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 1em;
}

.footer-lst li.social-icon a{
    margin: 0 .5em;
}

.submit-email__form {
    position: relative;
    margin-top: 2em;
}

.submit-email__form .submit-email__icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.footer__container .submit-email__input {
    border: 0.1em solid #a1a1a1;
    border-radius: 3.1em;
    height: 3em;
    padding: 1em;
    font-size: 1.5em;
    max-width: 51em;
    width: 100%;
    
}


/* ====== Home page ====== */


.home {
    display: flex;
    flex-direction: column;
}
.home section {
    height: auto;
}

.home section.slideshow {
    width: 100%;
    /* min-height: 80em; */
   
}

.home section.promotion {
    width: 100%;
    height: 19.6em;
}

.home .promotion .promotion__container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home .promotion .promotion__item {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.home .promotion .promotion__img {
    width: 21em;
}

.home .promotion .promotion__item h2 {
    font-size: 3.2em;
    font-weight: 700;
}

.home .promotion .promotion__item p {
    font-size: 1.8em;
    line-height: 2.8em;
    letter-spacing: 0.16em;
    font-weight: 400;
}


.home section.flashsale {
    width: 100%;
}


/* Home catetory */
.cate__container {
    width: 80%;    
    margin: auto; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cate__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6em 0;
    
}

.cate__title {
    flex: 1;
}


.cate__container  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cate__title h3{
    font-size: 2.8em;
    color: var(--base-heading-color);
    letter-spacing: 1px;
    font-weight: 700;
}
.cate__pagination {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.cate__prev, .cate__next {
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.cate__prev {
    margin-right: 1em;
}
.cate__next {
    margin-left: 1em;
}




.cate__content .swiper__img {
    width: 22em;
}



.cate__content a {
    font-size: 1.6em;
    color: var(--base-heading-color);
    letter-spacing: 0.1em;
    font-weight: 700;
}

.cate__botton {
    display: flex;
    justify-content: center;
    margin: 5.5em 0;
}

.home-flashsale {
    background: #D32D00;
}
.flashsale__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.flashsale__countdown {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3.8em 0;
}

.countdown__container {
    display: flex;
    align-items: center;
    height: 6.4em;
    width: 42.8em;
    background: #fff;
    border-radius: 32em;
}

.countdown__title {
    font-size: 2.8em;
    color: var(--base-heading-color);
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0 1em;
}

.countdown__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18em;
     color: var(--base-price);
}
.countdown__item {
    border: 1px solid #A1A1A1;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--base-price);
    font-size: 1.2em;
    font-weight: 700;

}
.flashsale__pagination {
    display: flex;
    align-items: center;
    flex: 1; 
    justify-content: flex-end;
}

.flashsale__pagination {
    display: flex;
    align-items: center;
}
.flashsale__container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.swiper-slide__flashsale {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
}

.swiper-slide__flashsale .swiper__img {
    padding: 0;
    width: 100%;
    position: relative;
}

.swiper__img .heart {
    width: 2.4em;
    bottom: 1em;
    right: 1em;
     position: absolute;
    
}
.swiper__img .sale {
    width: 5em;
    top: 1em;
    left: 1em;
     position: absolute;
}

.flashsale__prev, .flashsale__next {
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.flashsale__content .swiper-slide{
    background-color: var(--white);
}

.flashsale__content .swiper__img {
    position: relative;
}

.flashsale__price {
    font-size: 1.5em;
    color: #C7C7C7;
    letter-spacing: 0;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding: 0 1em 1em 1em;
}

.flashsale__price .discount{
    font-size: 1.6em;
    color: #B44726;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    font-weight: 700;
}


.flashsale__botton {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.flashsale__botton .button--secondary{
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
}

.sale {
    background: #B44726;
    border-radius: 6px;
    font-size: 1.2em;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 0.5em;
}

.home-brand {
   background-color: #F5D134;
   width: 100%;
}
.brand__container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 6em 0;
}
.brand__content {
    position: relative;
}

.brand__content .swiper-slide{
    background-color: var(--white);
}
.brand__content .brand__title {
    font-size: 2.4em;
    color: var(--base-heading-color);
    letter-spacing: 2.31px;
    font-weight: 700;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: var(--white);
}

.brand__content .brand__prev, .brand__content .brand__next {
    width: 4em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}


 



.swiper-slide__brand {
    display: flex;
    flex-direction: row;
}

